<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bodil app{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('impact_dashboard') }}">impact</a></li>
            </ul>
        </nav>
    </header>

    <section class="content">
        {% block content %}{% endblock %}
    </section>
</body>
</html>
